.storybook-full-screen-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(139, 92, 246, 0.95);
  z-index: 9999;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-full-screen-loader__spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storybook-full-screen-loader__spinner--small {
  width: 40px;
  height: 40px;
}

.storybook-full-screen-loader__spinner--medium {
  width: 60px;
  height: 60px;
}

.storybook-full-screen-loader__spinner--large {
  width: 80px;
  height: 80px;
}

.storybook-full-screen-loader__spinner-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid rgba(26, 26, 107, 0.2);
  border-top-color: #1a1a6b;
  border-radius: 50%;
  animation: storybook-full-screen-loader-spin 0.8s linear infinite;
}

.storybook-full-screen-loader__spinner--small .storybook-full-screen-loader__spinner-ring {
  border-width: 3px;
}

.storybook-full-screen-loader__spinner--large .storybook-full-screen-loader__spinner-ring {
  border-width: 5px;
}

.storybook-full-screen-loader__message {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

@keyframes storybook-full-screen-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
